body {
	background: #0c0c10;
	font-family: 'Source Code Pro', "Lucida Console", Monaco, monospace;
	overflow: hidden;
}

button {
	background-color: #FFD400;
	border: none;
	color: white;
	font-family: 'Source Code Pro';
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 1.2px;	
	padding: 1em 3em;
	text-transform: uppercase;
}

h1 {
	color: rgba(255, 212, 0, 1);
	font-size: 5em;
	font-weight: 700;
	margin: 0;
}

h2 {
	color: rgba(42, 43, 57, 0.9);	
	font-size: 3.5em;
	font-weight: 300;
	margin: 0;
}

h3 {
	color: white;
	font-size: 2.5em;
	font-weight: 500;
}

.container {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	text-align: center;
}

.giant {
	color: #0c0c10;	
	font-weight: 900;
	font-size: 50vh;
	line-height: 80%;
	position: absolute;	
	text-shadow: 0 20px 56px rgba(42, 43, 57, .7);
	z-index: -1;
}

/*colors
$pop: rgba( 255, 212, 0, 1);
$dark: rgba( 42, 43, 57, 1);
$light: rgba( 242, 249, 255, 1);
*/