a, .hackday-icon {
	color: #FFD23F;
}

body {
	background: #0c0c10;
	color: #FFF;
	font-family: 'Source Code Pro', "Lucida Console", Monaco, monospace;
}

button, input {
	font-weight: 500;
	font-size: 1.2em;
	letter-spacing: 1.2px;
	margin: 1em;
	padding: 1em 3em;
	text-transform: uppercase;
}

button {
	background-color: #FFD400;
	border: none;
	cursor: pointer;
}

form {
	align-items: center;
	display: flex;
	flex-direction: column;
}

h1 {
	color: rgba(255, 212, 0, 1);
	font-size: 5em;
	font-weight: 700;
	margin: 0;
}

h2 {
	color: white;
	font-size: 2.5em;
	font-weight: 500;
}

input {
	color: #FFF !important;
	background: rgba(0, 0, 0, .9) !important;
	border: 2px solid #FFD23F;
	display: block;
	padding-right: 1em;
}

#banner {
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	text-align: center;
}

#footer {
	justify-content: space-around;
	display: flex;
}

.giant {
	color: #0c0c10;
	font-weight: 900;
	font-size: 50vh;
	line-height: 80%;
	position: absolute;
	text-shadow: 0 20px 56px rgba(42, 43, 57, .7);
	z-index: -1;
}

.max-full, .max-lg {
	margin: 0 auto;
}

.max-full {
	max-width: 1200px;
}

.max-lg {
	max-width: 1080px;
}

.powered-by {
	display: flex;
}

.powered-by svg {
	margin-left: .5em;
}

.text-center {
	text-align: center;
}

/*colors
$pop: rgba( 255, 212, 0, 1);
$dark: rgba( 42, 43, 57, 1);
$light: rgba( 242, 249, 255, 1);
*/