a, .hackday-icon, .prompt {
	color: #FFD23F;
}

body {
	background: #0c0c10;
	color: #FFF;
	font-family: 'Source Code Pro', "Lucida Console", Monaco, monospace;
	font-size: 20px;
}

button, input {
	font-weight: 500;
	font-size: 1.2em;
	letter-spacing: 1.2px;
	margin: 1em;
	padding: 1em 3em;
	text-transform: uppercase;
}

button {
	background-color: #FFD400;
	border: none;
	cursor: pointer;
}

h1 {
	color: rgba(255, 212, 0, 1);
	font-size: 5em;
	font-weight: 700;
	margin: 0;
}

h2 {
	color: white;
	font-size: 2.5em;
	font-weight: 500;
}

input {
	color: #FFF !important;
	background: rgba(0, 0, 0, .9) !important;
	border: 2px solid #FFD23F;
	display: block;
	padding-right: 1em;
}

ol {
	line-height: 1.75;
}

td {
	padding: 0 .75em .75em 0;
}

#banner {
	align-items: center;
	background: #2A2B39 url('./assets/images/bg-image.jpg') no-repeat fixed center;
	background-size: cover;
	display: flex;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	position: relative;
	text-align: center;
}

#console {
	background: rgba(0, 0, 0, .8);
	border: 2px solid #FFD23F;
	margin: 2em auto;
	max-height: 10em;
	min-height: 3em;
	overflow: hidden;
	padding: 1em .2em 1em 2.5em;
	position: relative;
	text-align: left;
	width: 24em;
}

#console div {
	margin-bottom: .25em;
}

#console .command {
	color: rgba(255, 255, 255, .6);
}

#console .error {
	color: #EB5757;
}

#console .prompt {
	left: 1em;
	position: absolute;
	top: 1em
}

#console .content {
	max-height: 10em;
	overflow: auto;
	padding-right: .8em;
}

#console .success {
	color: #27AE60;
}

#details {
	background: -webkit-linear-gradient(rgba(12, 12, 16, 1) 0%, rgba(12, 12, 16, 0) 20%, rgba(12, 12, 16, 0) 80%, rgba(12, 12, 16, 1)), url('./assets/images/welcome-to-hackday.jpg') center/cover no-repeat fixed;
}

#footer {
	color: rgba(255,255,255,0.6);
	justify-content: space-around;
	padding: 16vh 0 20vh;
}

#signUp {
	z-index: 1;
}

.flex {
	display: flex;
}

.flex-center {
	align-items: center;
}

.flex-top {
	align-items: flex-start;
	padding-bottom: 2em;
}

.flex-top h2, .flex-top ol, .flex-top table {
	-webkit-margin-before: 1rem;
}

.footer-logo {
	fill: rgba(255,255,255,0.6);
	height: 1.5em;
}

.giant-text {
	-webkit-text-fill-color: transparent;
	background: -webkit-linear-gradient(transparent, transparent), url('./assets/images/bg-image.jpg') no-repeat fixed center;
	background-size: cover;
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
	color: #0c0c10;
	font-weight: 900;
	font-size: 50vh;
	line-height: 80%;
	position: absolute;
}

.max-full, .max-lg {
	margin: 0 auto;
}

.max-full {
	max-width: 1200px;
}

.max-lg {
	max-width: 1080px;
}

.more-info {
	bottom: 1em;
	color: #FFF;
	position: absolute;
	text-decoration: none;
	z-index: 1;
}

.offset {
	margin-left:4em;
	width: 40%;
}

.padding-horizontal-large {
	padding: 0 2.5em;
}

.powered-by {
	align-items: center;
	display: flex;
	justify-content: center;
}

.powered-by svg {
	margin-left: .5em;
}

.section {
	padding: 12vh 1em 16vh;
}

.text-center {
	text-align: center;
}

@media (max-width: 800px) {
	table {
		margin: 0 auto;
	}

	#footer .copyright, #footer .footer-logo, #footer .powered-by {
		margin: 1em;
	}

	.flex {
		display: block;
		text-align: center;
	}

	.giant-text {
		display: none;
	}

	.offset {
		margin: 1em;
		width: auto;
	}
}

/*colors
$pop: rgba( 255, 212, 0, 1);
$dark: rgba( 42, 43, 57, 1);
$light: rgba( 242, 249, 255, 1);
*/